*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

::-moz-selection {
  background-color: #3549CC;
  color: #FFFFFF;
}

::selection {
  background-color: #3549CC;
  color: #FFFFFF;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
}

.heading-primary {
  color: #202a46;
  font-size: 7.1rem;
  margin-left: -7px;
  margin-bottom: 20px;
}

.heading-secondary {
  font-size: 1.8rem;
  color: #202a46;
  margin-bottom: 8.9rem;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
}

.download {
  position: relative;
  z-index: 10;
  display: inline-block;
  margin-right: 106px;
  margin-bottom: 50px;
  text-align: center;
}
.download__button {
  position: relative;
  width: 18rem;
  height: 4.6rem;
  border: none;
  background-color: #3549CC;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2.2rem;
  cursor: pointer;
}
.download__button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.download__button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
.download__button img {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 1.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.download__description {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.download__versions {
  font-size: 1.2rem;
  color: #202a46;
  font-weight: 400;
}

.background-square-light {
  position: absolute;
  right: -250%;
  top: 79%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 130rem;
  height: 130rem;
  background-color: #ABB6FF;
  display: none;
}

.background-square-dark {
  position: absolute;
  right: -268%;
  top: 79%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 130rem;
  height: 130rem;
  background-color: #202A46;
  display: none;
}

.illustration {
  position: absolute;
  right: 0%;
  bottom: 18%;
  width: 714px;
  max-height: 450px;
  display: none;
  z-index: 50;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1097px) {
  .background-square-light {
    right: -50%;
    display: block;
  }
  .background-square-dark {
    right: -59%;
    display: block;
  }
  .illustration {
    display: block;
  }
  .download {
    margin-bottom: 0px;
  }
}
.section-download {
  margin-top: 160px;
  padding: 4rem 0 0 4rem;
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.logo {
  height: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
  left: 50%;
  top: 2.4rem;
  position: absolute;
  z-index: 20;
}

.background {
  position: absolute;
  right: 0px;
}

.background__primary {
  height: 100VH;
  z-index: 30;
  fill: #3549CC;
  top: 0;
}

.background__secondary {
  height: 84.9vh;
  fill: #202a46;
  z-index: 40;
  bottom: 0;
}